body {
  background-color:skyblue;
}
#heading{
  align-content: center;
  align-self: center;
  font-family: serif;
  font: italic;
  text-align: center;
  text-decoration: underline;

}
#bear {
  position: absolute;
  left: 100px;
  top: 240px;
  width: 100px;
  height: 160px;
}

#board {
  position: absolute;
  height: 600px;
  width: 1500px;
  align-content: center;
  align-self: center;
  background-color:seagreen;
}

#title {
  align-content: center;
  align-self: center;
  font: bold;
  font-family:cursive;
  font-size: larger;
}

#scores {
  background-color:darkgoldenrod;
  align-content: center;
  align-self: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: larger;
}

.location {
  color: green;
}

#restart{
  background-color:chocolate;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: large;
}
h2{
  font-family:serif;
  font-size: larger;
  text-decoration: underline;
}

#new{
  background-color:brown;
  font-family:'Arial Narrow Bold', sans-serif;
  font-size: large;
}
